*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #352F5B;
    display: flex;
    justify-content: center;
    

}

form{
    
    text-align: center;
    margin-top: 130px;
    background-color: #423A6F;
    height: 380px;
    width: 400px;
    border-radius: 70px;
    border: 2px solid;
}

#signup{
    color: white;
    margin-top: 20px;
}

#signup a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1{
    padding-top:30px;
    font-size: 50px;
    color: white;
}

input{
    color: white;
    background-color: #2A2649;
    margin: 12px 12px 0px 12px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #2A2649;
}

button{
    margin-top: 10px;
    color: white;
    width: 195px;
    height: 35px;
    font-weight: bold;
    background-color: #2A2649;
    border-radius: 100px;

}

#userError{
    color: red;
    padding-right: 65px;

}

#passError{
    color: red;
    padding-right: 65px;
}

@media screen and (max-width: 600px){
    form{
        width: 300px;
    
    }
}





















